{% extends 'layout.html.twig' %}
 
{% block content %}
<h1>Důchodová kalkulačka</h1>
<h2>Vypočtěte, kolik potřebujete uspořit, abyste si mohli důchod užit!</h2>
<p><a href="/input">Začněte tady.</a></p>
{% endblock %}