<!DOCTYPE HTML>
<html lang="cs">
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>Důchodová kalkulačka</title>
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>