{% extends 'layout.html.twig' %}
 
{% block content %}
<h2>Zdroje</h2>
<p>Zde uvádíme odkazy na datasety, které jsme použili.</p>
<ul>
  <li>
    <a href="http://czso.cz/">ČSÚ: Úmrtnostní tabulky</a>
  </li>
</ul>
{% endblock %}